extends layout

block content

    .pull-left
        h4.form-section
            | Manage Products

    .pull-right
        button(class="btn btn-sm btn-info", onclick="addProduct();")
            i.fa.fa-plus
            | &nbsp;Add

    hr.clearfix
    
    table#tbProduct.table.table-striped.table-bordered.table-condensed
        thead
            tr
                th &nbsp;
                th &nbsp;
                th.text-center Code
                th.text-center Name
                th.text-center Category
                th.text-center Description
                th.text-center Price
                th.text-center Remark
        tbody        
            - each product in products
                tr
                td.text-center 
                    a(href="javascript:;", onclick="getProductById('#{product._id}')", class="btn btn-link btn-xs")
                        i.fa.fa-pencil 
                        | &nbsp;Edit                    
                td.text-center                       
                    a(href="javascript:;", onclick="confirmMessage('#{product._id}')", class="btn btn-link btn-xs")
                        i.fa.fa-times 
                        | &nbsp;Delete
                td.text-center #{product.code}
                td= product.name
                td.text-center #{product.category}
                td= product.description
                td.text-right #{product.price}
                td= product.remark

    // Modal
    .modal.fade#mpeProduct(tabindex="-1", role="dialog", aria-hidden="true")
        .modal-dialog
            form.form-horizontal#productForm(method="post", action="/update")
                .modal-content
                    .modal-header
                        button(class="close", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                        h4.modal-title Product
                    .modal-body(style="height:400px;overflow:auto;")
                        input(type="hidden", id="hddProductId", name="hddProductId")
                        .form-group
                            label.control-label.col-md-3 Code : 
                            .col-md-9
                                input(type="text", id="txtCode", name="txtCode", class="form-control input-sm")
                        .form-group
                            label.control-label.col-md-3 Name :
                            .col-md-9
                                input(type="text", id="txtName", name="txtName", class="form-control input-sm")
                        .form-group
                            label.control-label.col-md-3 Category : 
                            .col-md-9
                                select(id="ddlCategory", name="ddlCategory", class="form-control input-sm")
                                    option(value="") -- Select --
                                    for category in categories 
                                        option(selected=category.name == category) #{category.name}                                  
                        .form-group
                            label.control-label.col-md-3 Description : 
                            .col-md-9
                                textarea(id="txtDesc", name="txtDesc", class="form-control", cols="30", rows="5")
                        .form-group
                            label.control-label.col-md-3 Price : 
                            .col-md-9
                                input(type="text", id="txtPrice", name="txtPrice", class="form-control input-sm text-right")
                        .form-group
                            label.control-label.col-md-3 Remark : 
                            .col-md-9
                                textarea(id="txtRemark", name="txtRemark", class="form-control", cols="30", rows="5")
                    .modal-footer
                        button(class="btn btn-primary", aria-label="Save", id="btnSave") Save
                        button(class="btn btn-default", data-dismiss="modal", aria-label="Close") Close

    .modal.fade#mpeConfirm(tabindex="-1", role="dialog", aria-hidden="true")
        .modal-dialog
            .modal-content.form-horizontal
                .modal-header
                    button(class="close", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title Confirm Message
                    input(type="hidden", id="hddDeleteId")
                .modal-body
                    p Are you sure you want to delete this item?               
                .modal-footer
                    button(class="btn btn-success", aria-label="OK", id="btnOk") OK
                    button(class="btn btn-default", aria-label="Close", id="btnClose") Close
                        
block scripts
    script.
        $('#btnSave').on('click', function() {
            $('productForm').submit();
        });

        $('#btnOk').on('click', function() {
            var params = { productId: $('#hddDeleteId').val() };

            if(params.productId != '') {
                $.post("/delete", params,
                    function (data) {
                        location.replace('/');
                    })
                .fail(function (xhr, errorType, exception) {
                    var errorMessage = exception || xhr.statusText;
                    alert("error: " + errorMessage);
                });
            }
        });

        $('#btnClose, .close').on('click', function() {
            $('#mpeConfirm input').val('');
            $('#mpeConfirm').modal('hide');
        });

        $('table tbody tr').on('click', function(event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
        });

        $("#txtPrice").blur(function(){
            $(this).parseNumber({format:"#,###.00", locale:"us"});
            $(this).formatNumber({format:"#,###.00", locale:"us"});
        });
        
        var validator = $('#productForm').validate({
            rules: {
                txtCode: "required",
                txtName: "required",
                ddlCategory: "required",
                txtPrice: "required"
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            success: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });

        function addProduct() {
            $('#mpeProduct input,#mpeProduct select,#mpeProduct textarea').val('');
            $('#mpeProduct .form-group').removeClass('has-error');
            validator.resetForm();
            $('#mpeProduct').modal('show');
        }

        function getProductById(id) {
            var params = { productId: id };

            $.post("/edit", params,
                function (data) {
                    // Clear form
                    $('#mpeProduct input,#mpeProduct select,#mpeProduct textarea').val('');
                    $('#mpeProduct .form-group').removeClass('has-error');
                    validator.resetForm();

                    // Fill form inputs with the fetched data
                    $('#hddProductId').val(data._id);
                    $('#txtCode').val(data.code);
                    $('#txtName').val(data.name);
                    $('#ddlCategory').val(data.category);
                    $('#txtPrice').val(data.price);
                    $('#txtDesc').val(data.description);
                    $('#txtRemark').val(data.remark);

                    // Open modal
                    $('#mpeProduct').modal('show');
                }, "json")
            .fail(function (xhr, errorType, exception) {
                var errorMessage = exception || xhr.statusText;
                alert("error: " + errorMessage);
            });
        }

        function confirmMessage(id) {
            $('#hddDeleteId').val(id);
            $('#mpeConfirm').modal('show');
        }